<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="en">
<head>
    <title>Scramble Word</title>
</head>
<body>
<div layout:fragment="content">
    <div class="bg-light rounded p-4">
        <div class="d-flex justify-content-between mb-4">
            <h2 class="text-primary-emphasis">Scramble Word</h2>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <form th:action="@{/scramble}" th:object="${form}" id="frmScramble" method="post">
                    <div class="row mb-3">
                        <label for="iptWord" class="col-sm-2 col-form-label">Word*</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{word}" class="form-control" th:errorclass="is-invalid" id="iptWord" aria-describedby="iptWordFeedback"/>
                        </div>
                        <label th:if="${#fields.hasErrors('word')}" th:errors="*{word}" id="iptWordFeedback" class="col-sm-4 text-danger is-invalid">Word Error</label>
                    </div>
                    <div class="row mb-3">
                        <span class="col-sm-2"></span>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a th:href="@{/scramble}" class="btn btn-secondary">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bg-light rounded h-100 p-4">
                <p th:if="${!#strings.isEmpty(form.scramble)}">Scrambled word: <span th:text="${form.scramble}"></span></p>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="contentScript">
function resetForm() {
    // console.log('reset form');
    // document.getElementById('frmScramble').reset();
    // console.log(document.getElementById("iptWord").value);
    document.getElementById('iptWord').value = '';
    // console.log(document.getElementById("iptWord").value);
    // console.log('afterreset form');
}
</script>
</body>
</html>
